<br>
<br>
<img src="assets/img/plus-business@2x.png" class="plus_business">
<br>
<div class="Weve-sent-you-an-em">
  Your password has been reset
</div>

<br>
<form (ngSubmit)="pwdResetDone(pwdResetDoneForm)" [formGroup]="pwdResetDoneForm">
  <div *ngIf="proceedToLogin" class="Back-to-login">
    <a routerLink="/login" routerLinkActive="active" class="Back-to-login">Proceed to Login
    </a>
  </div>
 
  <br>
  
  <button mat-flat-button color="primary" class="mask Button-Text" type="submit">
    Ok
  </button>

</form>

<br>
<br>
<img src="assets/img/login-1440-px@2x.png" class="login-1024px">