<br>
<br>
<img src="assets/img/plus-business@2x.png" class="plus_business">
<br>
<div class="Weve-sent-you-an-em">
  We've sent you an Email
</div>

<br>
<form (ngSubmit)="emailSent(emailSentForm)" [formGroup]="emailSentForm">
    <div *ngIf="mailCheckWarning" class="Weve-sent-you-an-em">
        Kindly check your MailBox for further Instructions
      </div>
      <br>
  <button mat-flat-button color="primary" class="mask Button-Text"  type="submit">
    Ok
  </button>

</form>

<br>
<br>
<img src="assets/img/login-1440-px@2x.png" class="login-1024px">